.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #27292D !important;
  color: rgba(255, 255, 255, 0.90);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-footer {
  background-color: #27292D !important;
  color: rgba(255, 255, 255, 0.90);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.title {
   text-align: center;
   color: white;
}

.nav-link {
    padding: 3%;
    float: right;
    border-radius: 10px;
    border-color: #333;
    background-color: #333;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-left: 25%;

}
.menu-header {
    padding: 0 8px;
  display: flex;
}

.boton-header {
    padding-left: 60%;
    display: flex;
      }